
<div class="container-fluid" style="background: #61655714 ; margin-top: 70px">
    <div class="container footer">
        <div class="row footer-h">
            <div class="col-md-4">
                <h5>Về cửa hàng</h5>
                <div class="section-footer"></div>
                <ul class="footer-ul">
                    <li><p>Rau sạch Store - Chuyên cung cấp tất cả các mặt hàng rau củ quả sạch,
                            không chất bảo quản, an toàn cho sức khỏe, đáp ứng nhu cầu của tất cả khách hàng.
                        </p></li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true" style="float: left"></i>
                        <p>My Dinh, Hà Nội, Vietnam</p>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a href="" class="tt">danghuudanh1994@gmail.com</a>
                    </li>
                    <li>
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <a href="" class="tt">01676435063</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Thông tin</h5>
                <div class="section-footer"></div>
                <ul class="footer-ul">
                    <li><a href="" class="tt">Trang chủ</a></li>
                    <li><a href="" class="tt">Sản phẩm</a></li>
                    <li><a href="" class="tt">Blog</a></li>
                    <li><a href="" class="tt">Giới thiệu</a></li>
                    <li><a href="" class="tt">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-2 ">
                <h5>Chính sách</h5>
                <div class="section-footer"></div>
                <ul class="footer-ul">
                    <li><a href="" class="tt">Trang chủ</a></li>
                    <li><a href="" class="tt">Sản phẩm</a></li>
                    <li><a href="" class="tt">Blog</a></li>
                    <li><a href="" class="tt">Giới thiệu</a></li>
                    <li><a href="" class="tt">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Từ khóa hot</h5>
                <div class="section-footer"></div>
                <ul class="ul-khoanh">
                    <li><a href="" class="silver">silver</a></li>
                    <li><a href="" class="silver">vạn đức</a></li>
                    <li><a href="" class="silver">vinamilk</a></li>
                    <li><a href="" class="silver">hải hà</a></li>
                    <li><a href="" class="silver">hoa bốn mùa</a></li>
                    <li><a href="" class="silver">phú hải</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 425,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        $('.single-item').slick({
            prevArrow: false,
            nextArrow: false,
        });


        $('#btn-mobile').click(function () {
            if ($("#menu-mobile").hasClass("displayblock")) {
                $("#menu-mobile").removeClass("displayblock");
            } else {
                $("#menu-mobile").addClass("displayblock");
            }
        })

        $('.slick-center').slick({
            speed: 300,
            slidesToShow: 5,
            slidesToScroll: 3,
            prevArrow: false,
            nextArrow: false,
            responsive: [{
                breakpoint: 500,
                settings: {
                    slidesToShow: 1.5,
                    slidesToScroll: 1
                }
            }
            ]
        });

        $('#right-right').click(function () {
            if($("#menu-lever-2").hasClass("displayblock")){
                $("#menu-lever-2").removeClass("displayblock");
            }else{
                $("#menu-lever-2").addClass("displayblock");
            }

        })
    });
    AOS.init();
</script>


</body>
</html>