.img-fluid {
    width: 100% !important;
    height: 100% !important;
}

.k1 {
    margin: 30px 0px;
}

.menu01 {
    position: relative;
}

.menu01 li {
    float: left;
    list-style: none;
    margin: 20px 10px;

}

.menu01 li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 10px 30px 5px;

}

.menu01 li a:hover {
    color: #83b601 !important;
}

.menu-level2 {
    border: 1px solid black;
    position: absolute;
    top: 73px;
    left: 182px;
    padding: 30px 27px 7px 19px;
    display: none;
    z-index: 2;
}

.sanpham:hover .menu-level2 {
    display: block;
    display: grid;
}

.menu-level2 li {
    list-style: none;
    margin: 0px 5px 5px 0px;

}

.menu-level2 li a {
    padding: 0px 0px;
    color: #5a6268;
    font-weight: normal;
}

.menu01 li:hover a {
    color: #83b601;
}

.an-menu01 {
    margin-top: 50px;
    padding: 15px 10px;
    border: 1px solid #ebebeb;

}

.an-menu01 li {
    text-decoration: none;
    list-style: none;
}

.an-menu01 li a {
    text-transform: uppercase;
    font-weight: bold;
}

.menu-an-level02 li a {
    text-transform: none;
    font-weight: normal;
}

.fa-bars {
    display: none !important;
}

.menu-an-level01 {
    display: none;
}

.menu-an-level02 {
    display: none !important;
}

.list-group-02 li {
    font-size: 18px;
    padding: 10px 0px 5px 0px;

}

.mna:hover {
    text-decoration: none;
    color: #83b601 !important;
}

.div-anh {
    width: 100%;
    height: 100%;
}

.anh {
    width: 100%;
    height: 250px;
    margin-bottom: 40px;

}

.anh-left {
    padding: 0px !important;
    margin: 20px auto 20px auto;
}

.bread-crum {
    width: 100%;
    position: relative;
}

.breadcrumbb {
    position: absolute !important;
    top: 0%;
    z-index: 1;
    margin-top: 50px;
    display: block !important;
    background: none;
    width: 50% !important;
}

.breadcrumbb .tt {
    color: #fefefe;
    text-transform: uppercase;
    font-size: 20px;

}

.menu {
    padding-left: 0px;
}

.menu li {
    float: left;
    list-style: none;

}

.trang_chu {
    color: #fefefe !important;
    font-size: 20px;
}

.trang_chu:hover {
    font-size: 22px;
    color: #83b601 !important;
    text-decoration: none;
}

.icon-right {
    color: #fefefe;
}

.tin {
    margin-left: 10px;
    color: #83b601;
    font-size: 20px;
    font-weight: bold;
}

a {
    color: black !important;
}

.danh-muc {
    padding: 15px 0px 15px 20px;
    margin-bottom: 0px;
    background-color: #ebebeb;
    font-weight: bold;
    font-size: 20px;
}

.danh-muc:before {
    content: '';
    height: 2px;
    width: 86px;
    position: absolute;
    left: 36px;
    top: 58px;
    background: #83b601;
}

.fa-square {
    color: #83b601;
    font-size: 9px !important;
}

.lg {
    font-size: 20px;
}

.list-group-item:hover .lg {
    color: #83b601 !important;
    text-decoration: none;

}

.fa-angle-down {
    float: right;
    cursor: pointer;
}

.list-group-02 {
    display: none;
}

.list-group-02 li {
    list-style: none;

}

.box-maps {
    background-color: #ebebeb;
    width: 100%;
    height: 450px;
}

.nho {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 323px;
    height: 153px;
    padding: 15px 25px;
    background-color: #83b601;

}

.div-left {
    padding: 0px;
    margin: 0px;
}

.khoi {
    margin-bottom: 10px;
}

.widget-item {
    padding-top: 50px;
}

.lef h2 {
    font-size: 20px;
    font-weight: 700;
}

.lb {
    text-align: end;
    padding: 0px !important;

}

.ip {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ebebeb;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ebebeb;
}

.khoi1 {
    justify-content: flex-end;
    margin: 0px !important;
}

.khoi1 a {
    padding: 6px 20px;
    height: 40px;
    background-color: #b4ef20;
    color: #fefefe !important;
    border: 1px solid #b4ef20;
    border-radius: 20px;
}

.khoi1 a:hover {
    background-color: #83b601;
    border: 1px solid #83b601;
    text-decoration: none;
}
.tong{
    display: flex;
}
.icon-user {
    float: left;
    margin-right: 10px;
}

.icon-user p {
    font-weight: bold;
    font-size: large;

}

.tuvan p {
    margin: 0px;
}

.tuvan .hv:hover {
    text-decoration: none;
    color: #83b601 !important;
}

.footer-h {
    padding-top: 70px;
}

.footer-h p, .footer-h i {
    color: #999;
}

.footer-ul {
    padding: 0px;
}

.footer-ul .tt {
    color: #999 !important;
    text-transform: none;

}

.footer-ul .tt:hover {
    color: #83b601 !important;;
}

.footer-ul li {
    list-style: none;
    margin-bottom: 5px;

}

.footer-ul li:hover a {
    text-decoration: none;
    color: #83b601;
}

.footer-ul li a {
    color: #999;
}

.ul-khoanh {
    padding: 0px;
}

.ul-khoanh li {
    float: left;
    list-style: none;
    border-radius: 15px;
    padding: 3px 0px;
    margin: 0px 5px 5px 0px;
}

.ul-khoanh li a {
    padding: 0 20px;
    border: 1px solid #ebebeb;
    line-height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 20px;
    color: #999 !important;
    text-transform: none;
}

.silver:hover {
    color: white !important;
    text-decoration: none;
    background-color: #83b601;
}

.container.footer h5:before {
    content: "";
    width: 70px;
    height: 2px;
    position: absolute;
    top: 26px;
    left: 15px;
    background: #83b601;
}

.container.footer h5 {
    text-transform: uppercase;
}

.footer-h {
    padding-top: 70px;
}

.footer-h p, .footer-h i {
    color: #999;
}

.footer-ul {
    padding: 0px;
}

.footer-ul .tt {
    color: #999 !important;
    text-transform: none;

}

.footer-ul .tt:hover {
    color: #83b601 !important;;
}

.footer-ul li {
    list-style: none;
    margin-bottom: 5px;

}

.footer-ul li:hover a {
    text-decoration: none;
    color: #83b601;
}

.footer-ul li a {
    color: #999;
}

.ul-khoanh {
    padding: 0px;
}

.ul-khoanh li {
    float: left;
    list-style: none;
    /*border: 1px solid #999;*/
    border-radius: 15px;
    padding: 3px 0px;
    margin: 0px 5px 5px 0px;
}

.ul-khoanh li a {
    padding: 0 20px;
    border: 1px solid #ebebeb;
    line-height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 20px;
    color: #999 !important;
    text-transform: none;
}

.silver:hover {
    color: white !important;
    text-decoration: none;
    background-color: #83b601;
}

.container.footer h5:before {
    content: "";
    width: 70px;
    height: 2px;
    position: absolute;
    top: 26px;
    left: 15px;
    background: #83b601;
}

.container.footer h5 {
    text-transform: uppercase;
}

.display-block {
    display: block !important;
}

.fa-angle-right {
    float: right;
    line-height: 22px;
    margin-right: -15px;
    width: 40px;
    margin-top: 9px;
    text-align: center;
}

@media (min-width: 1300px) {
    .container-fluid {
        padding: 0 100px !important;
    }
}

@media (max-width: 430px) {

    .lb{
        text-align: left;
        margin-left: 15px;
    }

    .icon-user {
    float: left;
    margin-right: 10px;
}

    .blog-item-info .xemthem {
        width: 63%;
    }

    .breadcrumbb {
        width: 100% !important;
    }

    .section-policy .section-title h2:before {
        content: "";
        width: 100px;
        height: 2px;
        background: #83b601;
        position: absolute;
        bottom: 67px;
        left: 50%;
        transform: translateX(-50%);
    }

    .section_mailchimp .km:before {
        width: 0px;
        height: 0px;
    }

    .header-main-img {
        position: absolute;
        bottom: -27px;
        left: 0px;
    }

    .header-main-menu-main {
        display: none;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .header-main-menu {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ebebeb;
        position: absolute !important;
        top: 0px;
        left: 0px;
    }

    .header-main-menu .fa-search {
        position: absolute;
        top: 20px;
        right: 0px;
    }

    .tren {
        position: absolute;
        top: 20px;
        left: 55px;
    }

    .fa-heart {
        position: absolute;
        top: 20px;
        left: 25px;
    }

    .fa-shopping-cart {
        position: absolute;
        top: 20px;
        left: 0px;
    }

    .fa-bars {
        display: block !important;
        position: absolute;
        bottom: 20px;
        right: 15px;
    }


}


@media (max-width: 430px) {

}